
@{
    ViewBag.Title = "AddCustomPropertity";
}

<h2>AddCustomPropertity</h2>

@using (Html.BeginForm())
{
    <div>
        Clio Task ID:
        <input type="text" name="clioId" id="clioId"/>
        <input type="hidden" name="outlookId" id="outlookId"  value="@Html.Encode(TempData["outlookid"]) "/>
        <input type="submit"  value="Save" class="btn btn-default"/>
        <br />
        Here input a Clio Task id, after save we will add a custom propertity to this task.
        <br/>
        it will be formatted like below:
        <br/>
        {
        "SingleValueExtendedProperties": [
        {
        "PropertyId":"String {66f5a359-4659-4830-9070-00047ec6ac6e} Name ClioTaskId",
        "Value":"1234"
        }
        ]
        }
    </div>
}